.header {
    width: 100%;
    display: flex;
    padding: 0.75rem;
    background: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    justify-content: space-between;
    
    font-family: 'Texturina', serif;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    align-items: center;
}

h1{
    margin-left: 20px;
}
button {
    background-color: #ff69b4; /* Pink color for the button */
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lato', sans-serif; /* Use a more mature font */
    font-weight: 700; /* Bolder text for a more prominent look */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
  }
  
button:hover {
    background-color: #ff66b2; /* Slightly darker pink on hover */
  }